# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
.terraform.tfstate.lock.info
crash.log
crash.*.log
*.tfvars
*.tfvars.json
!*.tfvars.example
override.tf
override.tf.json
.terraformrc
terraform.rc

# Node
**/node_modules/
dist/
build/

# Secrets / local env
.env
.env.local
*.pem
*.key
id_rsa*
